
<!-- <app-header></app-header>
avl india pvt. ltd. <mybiodata></mybiodata>
<app-expression></app-expression>
<app-footer></app-footer> -->
<!-- <app-login></app-login> -->
<!-- <app-product-details></app-product-details> -->
<!-- <app-pipe-demo></app-pipe-demo> -->
<div>
    <div id="menu">
        <ul>
            <li><a [routerLink]="['/home']" class="btn">Home</a></li>
            <li><a [routerLink]="['/about']" class="btn">About</a></li>
            <li><a [routerLink]="['/expression']" class="btn">Expression</a></li>
            <li><a [routerLink]="['/login']" class="btn">Login</a></li>
            <li><a [routerLink]="['/pipe']" class="btn">Pipe</a></li>
            <li><a [routerLink]="['/product']" class="btn">Product</a></li>
            <li><a [routerLink]="['/employee-list']" class="btn">Employee List</a></li>
        </ul>
    </div>
</div>
<div style="text-align: center;">
    <router-outlet></router-outlet>
</div>